<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/bootstrap.min.css'/>
		<link rel='stylesheet' href='/css/page.css'/>
		
		<script type='text/javascript' src='/js/bootstrap.min.js'></script>
	</head>

	<body>
        <div id='title'><%= title %></div>
		<div id='text'><%= text %></div>
	</body>
</html>
